.add-word{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title{
        font-size: 1.2em;
    }

    &__pattern{
        font-size: 0.9em;
    }

    input{
        width: 240px;
        line-height: 30px;
        font-size: 1em;
        margin-top: 20px;
    }

    &__error{
        color: darkred;
        font-size: 0.8em;
    }

    &__button{
        padding: 10px 15px;
        font-size: 1em;
        margin-top: 20px;
    }
}