@font-face{
	font-family: GULAG Pavljenko;
	font-display: swap;
	src: url("../fonts/GULAG Pavljenko.woff2") format("woff2"), url("../fonts/GULAG Pavljenko.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: beer;
	font-display: swap;
	src: url("../fonts/beer-money12.woff2") format("woff2"), url("../fonts/beer-money12.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: Old;
	font-display: swap;
	src: url("../fonts/Old-Soviet.woff2") format("woff2"), url("../fonts/Old-Soviet.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: HellasDustCyrillic;
	font-display: swap;
	src: url("../fonts/HellasDustCyrillic.woff2") format("woff2"), url("../fonts/HellasDustCyrillic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
